<?xml version="1.0" encoding="UTF-8"?>
<web-app
version="3.0"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" >

    <display-name>Basic Servlet Example</display-name>

    <filter>
      <filter-name>LoggingFilter</filter-name>
      <filter-class>net.cmw.LoggingFilter</filter-class>
      <init-param>
        <param-name>testValue</param-name>
        <param-value>Test Value!</param-value>
      </init-param>
    </filter>

    <!-- We'll only filter one of our two Servlets -->
    <filter-mapping>
      <filter-name>LoggingFilter</filter-name>
      <url-pattern>/basic-filtered</url-pattern>
    </filter-mapping>

    <servlet>
      <servlet-name>Example Servlet</servlet-name>
      <servlet-class>net.cmw.BasicServlet</servlet-class>
    </servlet>

    <!-- Unfiltered servlet -->
    <servlet-mapping>
      <servlet-name>Example Servlet</servlet-name>
      <url-pattern>/basic</url-pattern>
    </servlet-mapping>

    <!-- Filtered servlet -->
    <servlet-mapping>
      <servlet-name>Example Servlet</servlet-name>
      <url-pattern>/basic-filtered</url-pattern>
    </servlet-mapping>
</web-app>
